In [1]:
import pandas as pd

In [3]:
# read the field_data with unique coordinates (2002 vals) and filter them by lowest ndvi

lowest_ndvi = pd.read_csv("data/ids_low_ndvi.csv")
lowest_ndvi.head(2)

                  id
0    15_RAPP_TP-VI-8
1  15_RAPP_TP-XII-3a

In [4]:
df = pd.read_csv("data/field_data_unique_coords.csv")
df.head(2)

  source             id         lon       lat        date  gwl_cm
0    ach  BRG_140301_01  102.099167  1.519444  2018-10-15   -14.4
1    ach  BRG_140301_01  102.099167  1.519444  2018-10-16   -17.9

In [5]:
df = df[df["id"].isin(lowest_ndvi["id"])]
df

       source             id         lon       lat        date  gwl_cm
5970      ach  BRG_140802_02  102.354165  0.830883  2020-11-14   -21.2
5971      ach  BRG_140802_02  102.354165  0.830883  2020-11-15   -21.7
5972      ach  BRG_140802_02  102.354165  0.830883  2020-11-16   -19.5
5973      ach  BRG_140802_02  102.354165  0.830883  2020-11-17   -22.6
5974      ach  BRG_140802_02  102.354165  0.830883  2020-11-18   -20.4
...       ...            ...         ...       ...         ...     ...
244159    wal  266_BAPP_TP-3  133.202644 -0.846860  2023-04-30     0.0
244160    wal  266_BAPP_TP-3  133.202644 -0.846860  2023-05-15     0.0
244161    wal  266_BAPP_TP-3  133.202644 -0.846860  2023-05-31     0.0
244162    wal  266_BAPP_TP-3  133.202644 -0.846860  2023-06-15     0.0
244163    wal  266_BAPP_TP-3  133.202644 -0.846860  2023-06-30     0.0

[133307 rows x 6 columns]

In [11]:
# get the average count of values per id
df.groupby("id").count()

# plot the distribution of values per id

import matplotlib.pyplot as plt

df.groupby("id").count()["gwl_cm"]

id
02_AHL_SBG-B076      65
02_AHL_SBG-B101      65
02_AHL_SBG-B103      65
02_AHL_SBG-C003      65
02_AHL_SBG-C016      65
                   ...
BRG_621101_02      1320
BRG_621103_05      1419
BRG_621107_06      1411
BRG_627104_06      1463
brg8                138
Name: gwl_cm, Length: 1001, dtype: int64